body{
    margin: auto;
    background-color: rgba(25, 23, 23, 0.975);
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blanchedalmond;
    font-size: 50px;
    text-align: center;
}

#grid-container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 1px solid blanchedalmond;
}

.grid-cell{
    box-sizing: border-box;
    /*border: 1px solid gray;*/
}

#buttons-container{
    text-align: center;
    height: 60px;
    width: 600px;
    margin: auto;
    padding: 10px; 
}

/* #color-buttons-container{
    text-align: center;
    height: 60px;
    width: 600px;
    margin: auto;
    padding: 10px; 
} */

button {
    height: 45px;
    width: 298px;
    padding: 10px;
    border: 2px solid blanchedalmond;
    background-color: rgba(25, 23, 23, 0.975);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blanchedalmond;
    font-size: 20px;
    border-radius: 3%;
    

}


